*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    background-color: rgb(2, 0, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 200px;
    height: 200px;
    background-color:red;
    border-radius: 50%;
    position: absolute;

}
#circle1{
    background: rgb(252, 70, 107);
    background: linear-gradient(
        180deg,
        rgba(252,70,107,1)0%,
        rgba(63,94,251,1)100%
    
    );
    left: 39%;
    animation: circle 20s linear infinite alternate;

}#circle2{
    background: linear-gradient(
        90deg,
        rgba(2,0,36,1)0%,
        rgba(9,9,121,1)35%,
        rgba(0,212,255,1)100%
    );
    right: 39%;
    animation: circle 20s linear infinite alternate-reverse;
}
@keyframes circle{
    from{
        top: 25%;
    }
    to{
        top: 56%;
    }

}
.clock{
    z-index: 10;
    padding: 10px 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(
        10px
    );
    
}
.box{
    height: 160px;
    background: #000;
    width: 160px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: white;
    font-family: sans-serif;
}